/* #region common rules */

:root{
    --clr-primary:#2D64E6;
    --clr-primary-dark:#161C3B;
    --clr-smoke-dark:#1F1F1F;
    --clr-smoke-light:#BEBCBB;
    --clr-bg-smoke:#D9DADC;
    --clr-dark-shade:#1E1E1E;
    --clr-dark:#040404;
    --clr-light:white;
    --clr-buy:#CD3D0F;

    --fs-xxs:0.5rem;
    --fs-sm:1rem;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}
p{
    color:var(--clr-smoke-light);
}
h4{
    font-size: var(--fs-sm);
}
/* #endregion common rules */

/* #region utilities */
.bg_dark{
    background-color: var(--clr-dark);
}
.text_dark{
    color:var(--clr-dark-shade);
}
.buy{
    background-color: var(--clr-buy);
}
.d_none{
    display: none;
}
.container_fixed{
    max-width: 540px;
    padding-right:0.75rem;
    padding-left:0.75rem;
}

/* #endregion utilities */

/* #region debug */
.debug header{
    height:200px;
    background-color: aqua;
}

.debug [class^="col-"]{
    border:1px solid black;
    height:50px;
    background-color: blue;
}

.debug [class^="col"]{
    border:1px solid black;
    height:50px;
    background-color: blue;
}


.debug section{
    height:350px;
    background-color: green;
    border:1px solid black;
}

.debug .playstation_5 .col{
    border:1px solid black;
    height:50px;
    background-color: blue;
}

.debug footer{
    height:100px;
    background-color: black;
}
/* #endregion debug */

/* #region header */
header .logo{
    width:50px;
}
nav ul img:not(#search){
    width:10px;
}
#search{
    width:20px;
}
/* #endregion header */

/* #region main */
.jumbotron{
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
} 
.jumbotron img{
    width:50%;
}
/* ./jumbotron */

section.takes_two{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
} 
section.takes_two img{
    width:50%;
}
/* /.takes_two */
section.new_releases{
    background-color: var(--clr-smoke-dark);
}
.new_releases .caption span{
    font-size: var(--fs-xxs);
}
/* /.new_releases */

section.playstation_plus{
    background-color: var(--clr-smoke-light);
}

.playstation_plus .row div:first-child{
    padding-top:3rem;
    padding-bottom:3rem;
}
#logo_plus{
    width: 60%;
}
.playstation_plus .btn{
    background-color: var(--clr-bg-smoke);
}
/* /.playstation_plus */

section.playstation_now{
    background-color: var(--clr-primary-dark);
}
.playstation_now .row div:first-child{
    padding-top:3rem;
    padding-bottom:3rem;
}
/* #endregion main */



/* responsive */

@media  screen and (min-width: 576px) {
    .container_fixed{
        margin:0 auto;
    }
    
}
@media screen and (min-width:768px){
    section.playstation_five .row.g-1{
        align-items: center;
    }
    section.playstation_four .row .col-12:nth-of-type(2) p{
        padding-right:0.8rem;
    }
    .playstation_plus .row div:first-of-type{
        padding-top:1rem;
        padding-bottom:1rem;
    }
    .playstation_plus .row div:last-child{
        display: block;
    }
    #monthly_game{
        height: 100%;
    }
    .playstation_now .row div:last-child{
        display: block;
    }
    .playstation_now .row div:first-of-type{
        padding-top:1rem;
        padding-bottom:1rem;
    }
    section.social_media img{
        
    }
}

@media  screen and (min-width:992px) {
    .jumbotron img{
        width:35%;
    }
    .playstation_plus .row div:first-child{
        padding-top:3rem;
        padding-bottom:3rem;
    }
    .playstation_plus .row, .playstation_now .row{
        align-items: center;
    }
    #monthly_games{
        display: block;
    }
}


@media screen and (min-width: 1400px){
    section.playstation_four .col-12:nth-of-type(2) .btn{
        margin-top:1.4rem;
    }
}