/* #region common rules */

:root{
    --clr-primary:#2D64E6;
    --clr-smoke-dark:#1F1F1F;
    --clr-smoke-light:#727272;
    --clr-dark-shade:#1E1E1E;
    --clr-dark:#040404;
    --clr-light:white;
    --clr-buy:#CD3D0F;

    --fs-xxs:0.5rem;
    --fs-sm:1rem;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}
p{
    color:var(--clr-smoke-shade);
}
h4{
    font-size: var(--fs-sm);
}
/* #endregion common rules */

/* #region utilities */
.bg_dark{
    background-color: var(--clr-dark);
}
.text_dark{
    color:var(--clr-dark-shade);
}
.buy{
    background-color: var(--clr-buy);
}
/* #endregion utilities */




/* #region debug */
.debug header{
    height:200px;
    background-color: aqua;
}

.debug [class^="col-"]{
    border:1px solid black;
    height:50px;
    background-color: blue;
}

.debug [class^="col"]{
    border:1px solid black;
    height:50px;
    background-color: blue;
}


.debug section{
    height:350px;
    background-color: green;
    border:1px solid black;
}

.debug .playstation_5 .col{
    border:1px solid black;
    height:50px;
    background-color: blue;
}

.debug footer{
    height:100px;
    background-color: black;
}
/* #endregion debug */

/* #region header */
header .logo{
    width:50px;
}
nav ul img:not(#search){
    width:10px;
}
#search{
    width:20px;
}
/* #endregion header */

/* #region main */
.jumbotron{
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
} 
.jumbotron img{
    width:50%;
}
/* ./jumbotron */

section.takes_two{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
} 
section.takes_two img{
    width:50%;
}
/* /.takes_two */
section.new_releases{
    background-color: var(--clr-smoke-dark);
}
.new_releases .caption span{
    font-size: var(--fs-xxs);
}
/* #endregion main */



/* responsive */
@media screen and (min-width:768px){
    section.playstation_five .row.g-1{
        align-items: center;
    }
    section.playstation_four .row:nth-child(2) p{
        padding-right:0.8rem;
    }
}
@media  screen and (min-width:992px) {
    .jumbotron img{
        width:35%;
    }
}
@media screen and (min-width: 1400px){
    section.playstation_four .row:nth-child(2) .btn{
        margin-top:1.4rem;
    }
}